<!DOCTYPE HTML>
<html>
  <head>
    <title>Create Activity</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script type="text/javascript" src="/scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
      tinymce.init({
        selector: "textarea",
        height: 350,
        menubar : false,
        plugins: [
          "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
          "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
          "save table contextmenu directionality emoticons template paste textcolor"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic " +
        "| alignleft aligncenter alignright alignjustify " +
        "| bullist numlist outdent indent |      " +
        "link image table | preview media fullpage|" +
        "code forecolor backcolor emoticons",
      });
    </script>
  </head>
  <body>
    <div id="containerActivity">
      <% include partials/activityForm %>
    </div>
  </body>
</html>
