body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

#container {
  max-width: 768px;
  min-width: 480px;
  margin: auto;
}

#activityForm{
  margin-top: 15px;
}

.activitySubmitBtn {
  margin-top: 15px;
}
